<!DOCTYPE html>
<html lang="kr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="stylesheets/searchstyle.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="images/searching.png">
    <title>Postal Code searching...</title>
  </head>  
  <body>
    <h1>Postal Code</h1>
    <h2>Finder</h2>
    <div class="search-box">
      <input type="text" class="search-txt" name="search_input" placeholder="Type to search" autocomplete="off">
      <a class="search-btn" href="#">
        <i class="fas fa-search"></i>
      </a>
      <form id="search-list"><ul>
      </ul></form>
    </div>
    <script type="text/javascript" src="javascripts/search.js">
    </script>
  </body>
</html>